# Feature Selection

## importing libraries

In [2]:
# pip install kydavra

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from kydavra import LassoSelector
from kydavra import PointBiserialCorrSelector
from kydavra import PearsonCorrelationSelector

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os
os.chdir("/content/drive/MyDrive/Colab Notebooks")

## importing dataset

In [6]:
df = pd.read_csv('data3.csv')

In [7]:
df.shape

(10022903, 12)

In [8]:
df

,Unnamed: 0,Store Number,Zip Code,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume,Sale (Dollars),Profit Margin,Volume Sold (Liters)
0,0,-1.596053,2.022190,0.108315,12.022508,0.151527,-2.604004,-1.066954,-0.280075,0.561837,0.581077,4.50
1,1,-1.576230,1.996349,0.598453,12.022018,0.151527,-2.604004,-1.066954,-0.280075,1.420251,1.436338,9.00
2,2,0.098772,2.022062,0.108315,12.023160,-0.762788,-2.624480,1.255013,-2.251074,-0.798948,-0.774840,0.30
3,3,-1.155038,-0.415376,-0.017473,2.276590,-1.431361,-2.629901,-1.890562,1.600853,0.543814,0.563319,5.25
4,4,0.525203,2.014722,0.935604,8.781287,-0.762788,-2.624480,1.255013,-2.251074,-0.798948,-0.774840,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...
10022898,10022898,0.269645,-0.411784,0.625403,0.764543,1.125298,0.848505,0.097805,-0.280075,-0.958869,-0.933906,0.75
10022899,10022899,0.269645,-0.411784,0.625403,0.764543,0.591407,1.147973,0.097805,0.271520,-0.975617,-0.560307,3.00
10022900,10022900,0.269645,-0.411784,0.625403,0.764543,0.182718,0.833985,0.097805,-0.280075,-1.003458,-0.978561,0.75
10022901,10022901,0.269645,-0.411784,0.625403,0.762496,-1.431361,0.813749,0.097805,0.271520,-0.934317,-0.077093,6.00
10022902,10022902,0.269645,-0.411784,0.625403,0.760449,1.125298,1.108279,0.097805,-0.280075,-1.076912,-1.051429,0.75

In [9]:
df = df.drop(['Unnamed: 0'], axis=1)

In [10]:
df = df.reset_index(drop=True, inplace=False)

In [11]:
df

,Store Number,Zip Code,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume,Sale (Dollars),Profit Margin,Volume Sold (Liters)
0,-1.596053,2.022190,0.108315,12.022508,0.151527,-2.604004,-1.066954,-0.280075,0.561837,0.581077,4.50
1,-1.576230,1.996349,0.598453,12.022018,0.151527,-2.604004,-1.066954,-0.280075,1.420251,1.436338,9.00
2,0.098772,2.022062,0.108315,12.023160,-0.762788,-2.624480,1.255013,-2.251074,-0.798948,-0.774840,0.30
3,-1.155038,-0.415376,-0.017473,2.276590,-1.431361,-2.629901,-1.890562,1.600853,0.543814,0.563319,5.25
4,0.525203,2.014722,0.935604,8.781287,-0.762788,-2.624480,1.255013,-2.251074,-0.798948,-0.774840,0.30
...,...,...,...,...,...,...,...,...,...,...,...
10022898,0.269645,-0.411784,0.625403,0.764543,1.125298,0.848505,0.097805,-0.280075,-0.958869,-0.933906,0.75
10022899,0.269645,-0.411784,0.625403,0.764543,0.591407,1.147973,0.097805,0.271520,-0.975617,-0.560307,3.00
10022900,0.269645,-0.411784,0.625403,0.764543,0.182718,0.833985,0.097805,-0.280075,-1.003458,-0.978561,0.75
10022901,0.269645,-0.411784,0.625403,0.762496,-1.431361,0.813749,0.097805,0.271520,-0.934317,-0.077093,6.00
10022902,0.269645,-0.411784,0.625403,0.760449,1.125298,1.108279,0.097805,-0.280075,-1.076912,-1.051429,0.75

I will try an algorithm from kydavra library.

In [12]:
pearson = PearsonCorrelationSelector(min_corr=0.01, max_corr=0.9)

In [13]:
selected_columns2 = pearson.select(df, 'Volume Sold (Liters)')

In [14]:
selected_columns2

['Store Number',
 'Zip Code',
 'Item Number',
 'Pack',
 'Bottle Volume',
 'Sale (Dollars)',
 'Profit Margin']

After analysis, I will choose to work with the columns selected by the algorithm ---

In [15]:
df_s = df[selected_columns2].copy()

In [16]:
df_target = df['Volume Sold (Liters)']

In [17]:
df_final = pd.concat([df_s, df_target], axis=1)

In [18]:
df_final.to_csv("data4.csv")

-----------------------------